pre {
  font-family: 'Source Code Pro', sans-serif;
}

#main-about {
}

.about {
  letter-spacing: -.4em;
  font-size:12px;
  position: relative;
  width: 512px;
  margin: 0 auto;
  top: 8%;
}

.column1, .column2 {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
}

.column1 {
  margin: 0 16px;
}

.column2 {
}

.profile, .skillset, .contact {
  padding: 8px;
  margin: 16px auto;
}
.profile {
  width: 240px;
}

.skillset {
  width: 192px;
}
.contact {
  width: 248px;
}
