* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Source Code Pro', sans-serif;
}

#wrapper {
  height: 100%;
  margin: 8px;
}

#header { height: 12%; }
#header ul { list-style-type: none; }
#header li {
  display: inline-block;
  font-size: 12px;
}
#header a {
  text-decoration: none;
  color: inherit;
}
#header a:hover {
  color: royalblue;
}
#header #header-nav {
  width: 400px;
  position: absolute;
  right: 8%;
  top: 6%;
}
#header .text-wrap {
  width: 56px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

#main {
  position: relative;
  height: 76%;
}

#main .main-str {
  position: absolute;
  top: 24%;
  text-align: center;
  width: 100%;
}

#footer {
  height: 12%;
  text-align: center;
}



#background-screen {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  opacity: 0.1;
}

.square {
  position: fixed;
  background-color: #000;
  width: 4px;
  height: 4px;
}

.cross {
  position: fixed;
  height: 7px;
  width: 1px;
  background-color: #000;
}

.cross::after {
  background-color: #000;
  content: "";
  position: absolute;
  height: 1px;
  width: 7px;
  left: -3px;
  top: 3px;
}
