/*
index.html
 */
* {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Source Code Pro', sans-serif;
}

#wrapper {
  margin: 8px;
}

#header { 
  height: 100px;
}
#header ul { list-style-type: none; }
#header li {
  display: inline-block;
  font-size: 12px;
}

#header #header-nav {
  position: absolute;
  right: 12%;
  top: 8%;
}
#header .text-wrap {
  width: 56px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 12px;

  cursor: pointer;
}

#header .text-wrap:hover {
  color: royalblue;
}


.main-str {
  text-align: center;
}

#footer {
  text-align: center;
}

#background-screen {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#works-container {
  max-width: 788px;
  letter-spacing: -.4em;
  margin: auto;
}

.work {
  position: relative;
  display: inline-block;
  cursor: pointer;
  letter-spacing: normal;
  vertical-align: top;
  width: 160px;
  height: 160px;
  margin: 16px;

  background-color: white;
  box-shadow: 2px 2px 2px 2px #dcdcdc;
}

/*
.square {
position: fixed;
background-color: #000;
jj
width: 4px;
height: 4px;
}

.cross {
position: fixed;
height: 7px;
width: 1px;
background-color: #000;
}
.cross::after {
background-color: #000;
content: "";
position: absolute;
height: 1px;
width: 7px;
left: -3px;
top: 3px;
}
 */

/*
about.html
 */
pre {
  font-family: 'Source Code Pro', sans-serif;
}


.about {
  letter-spacing: -.4em;
  font-size:12px;
  position: relative;
  width: 512px;
  margin: 0 auto;
  top: 8%;
}

.column1, .column2 {
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
}

.column1 {
  margin: 0 16px;
}

.column2 {
}

.profile, .skillset, .contact {
  padding: 8px;
  margin: 16px auto;
}
.profile {
  width: 240px;
}

.skillset {
  width: 192px;
}
.contact {
  width: 248px;
}

/*
main html
 */
#main-home {
  display: block;
}

#main-works, #main-about, #main-system {
  display: none;
} 
