* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  min-width: 760px;
  width; 100%;
  margin: 8px;
}

.square {
	background-color: #;
	width: 300px;
	height: 300px;
  opacity: 0.5;
}

#header {
  background: red;
  opacity: 0.4;
}

#main {
  height: 540px;
  text-align: center;
}

#footer {
  background: red;
  height: 140px;
  opacity: 0.2;
}

#background-screen {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;

  background: red;
  opacity: 0.1;
}

